<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         verbose="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         testdox="true">
    
	<coverage>
    		<include>
      			<directory suffix=".php">src</directory>
    		</include>
		<report>
			<clover outputFile="tests/reports/clover.xml"/>
			<html outputDirectory="tests/reports/html-coverage" lowUpperBound="50" highLowerBound="90"/>
		</report>
  	</coverage>
</phpunit>
